body {
    text-align: center;
    margin-top: 5%;  
    background-color:antiquewhite;   
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    color: #333;
}

.title{
    font-size: 50px;
    margin-bottom: 5%;
}

.timer{
    font-size: 25px;
    display: inline;    
}

input{    
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:  15px;
    font-style: italic;
    text-align: center;
    margin-top: 2%;
}

.rc-calendar{
    margin: auto;
}

span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
    font-size: 15px;
    font-style: italic;
}

@media screen and (max-width: 520px) and (min-width: 300px) {
    .timer{
        font-size: 15px;
    }
    .title{
        font-size: 20px;
    }
    .rc-calendar{
        width: 100% !important;
    }
}