body {
    text-align: center;
    margin-top: 5%;  
<<<<<<< HEAD
    background-color:antiquewhite;   
=======
    background-color:antiquewhite;  
>>>>>>> 34407b662acc67c9e1b0307b1ed5f525dc447c76
}

.App-title{
    font-size: 50px;
    margin-bottom: 5%;
}

.App-days, .App-hours, .App-minutes, .App-seconds{
    font-size: 25px;
    display: inline;    
}

.Deadline-input{    
    font-size:  15px;
    font-style: italic;
    text-align: center;
<<<<<<< HEAD
    margin-top: 2%;
=======
    margin: 2%;
>>>>>>> 34407b662acc67c9e1b0307b1ed5f525dc447c76
}

.rc-calendar{
    margin: auto;
<<<<<<< HEAD
}

span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
    font-size: 15px;
    font-style: italic;
}

@media screen and (max-width: 520px) and (min-width: 300px) {
    .App-days, .App-hours, .App-minutes, .App-seconds{
        font-size: 15px;
        display: inline;    
    }
    .App-title{
        font-size: 20px;
        margin-bottom: 5%;
    }
    .rc-calendar{
        width: 100% !important;
    }
=======
>>>>>>> 34407b662acc67c9e1b0307b1ed5f525dc447c76
}